@-moz-document domain("trello.com")
{
  .tabbed-pane-nav-item-button,
.checklist-new-item.focus .checklist-new-item-text,
.checklist-new-item.focus .checklist-new-item-text:focus,
.checklist-new-item.focus .checklist-new-item-text:hover,
.compact-board-tile-link-text-sub-name,
.pop-over-header-title,
.dialog-close-button,
body,
button,
html,
input,
select,
textarea,
a,
.show-more:hover,
.pika-single .pika-next:hover,
.pika-single .pika-prev:hover,
.pika-single .pika-button:hover,
.pika-single .pika-label:hover,
.board-menu-navigation-item-link:hover,
.board-menu-section-header:hover,
.tabbed-pane-nav-item-button:hover,
.tabbed-pane-nav-item-button.active,
.tabbed-pane-nav-item-button.active:hover
  {
    color: #999;
  }

  .compact-board-tile-background,
.compact-board-tile-fade,
.show-more:hover,
.board-menu-navigation-item-link:not(.disabled):hover,
.button-link:hover,
.list-card-placeholder,
.list-card.placeholder
  {
    background: #151515;
  }

  textarea:focus,
.list-card.active-card
  {
    background-color: #151515;
    border-color: #151515;
  }

  body,
.tabbed-pane-header,
.tabbed-pane-nav,
.tabbed-pane-main-col
  {
    background-color: #202020 !important;
  }

  .checklist-item:hover,
.checklist-new-item-text:hover,
.checklist-new-item.focus .checklist-new-item-text,
.checklist-new-item.focus .checklist-new-item-text:focus,
.checklist-new-item.focus .checklist-new-item-text:hover,
textarea.mod-card-back-title.is-editing,
textarea.mod-card-back-title:focus,
.button-link,
.card-detail-badge,
.helper,
.action-comment,
.card-detail-item-add-button,
.quiet-button:hover,
.comment-box-input,
.comment-box,
.list-card,
.pika-single .pika-next:hover,
.pika-single .pika-prev:hover,
.pika-single .pika-button:hover,
.pika-single .pika-label:hover,
.board-menu-navigation-item-link:hover,
.board-menu-section-header:hover,
.tabbed-pane-nav-item-button:hover,
.tabbed-pane-nav-item-button.active,
.tabbed-pane-nav-item-button.active:hover
  {
    background-color: #202020;
  }

  .checklist-item:hover,
.checklist-new-item-text:hover,
.checklist-new-item.focus .checklist-new-item-text,
.checklist-new-item.focus .checklist-new-item-text:focus,
.checklist-new-item.focus .checklist-new-item-text:hover,
textarea.mod-card-back-title.is-editing,
textarea.mod-card-back-title:focus,
.button-link,
.card-detail-badge,
.helper,
.action-comment,
.card-detail-item-add-button,
.quiet-button:hover,
.comment-box-input,
.comment-box,
.list-card
  {
    border-color: #202020;
  }

  .iframe-input,
button,
input:not([type=file]),
textarea
  {
    border-color: #303030;
  }

  .board-menu-tab-content,
.iframe-input,
button,
input:not([type=file]),
textarea,
.pika-single,
.pika-single .pika-button,
.pika-single .pika-table td,
.board-menu,
.window,
.iframe-input.focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
  {
    background-color: #303030;
  }

  select,
thead,
.org-bc-settings,
.list-card-edit-title,
.list-card-edit-title:focus,
.boards-drawer
  {
    background: #303030;
  }

  .compact-board-tile.selected .compact-board-tile-fade,
.tabbed-pane-nav-item-button,
.open-card-composer:hover,
.list-wrapper.mod-add,
.list
  {
    background: #404040;
  }

  a.button-link.tabbed-pane-header-details-edit.js-edit-profile
  {
    background-color: #404040;
  }

  .open-card-composer:hover,
.button-link:hover
  {
    color: #dedede;
  }

  #header,
.list-wrapper.mod-add.is-idle,
.body-board-view #header
  {
    background: rgba(0, 0, 0, 1);
  }

  .pop-over.mod-notifications,
.pop-over
  {
    background-color: #111;
    border-color: #111;
  }

  code,
pre
  {
    background: none;
  }

  .list-card-title
  {
    color: #dedede;
  }

  .list-card-operation
  {
    opacity: 0.5;
  }

  .compact-board-tile-background,
.compact-board-tile-fade
  {
    opacity: 0.1;
  }

  code,
pre,
.app-alert-item.mod-error
  {
    border: none;
  }

  .card-short-id
  {
    border: 1px solid #dedede !important;
    border-bottom-color: #dedede !important;
    color: #dedede !important;
  }

  .button.primary,
button.primary,
input[type=button].primary,
input[type=submit].primary
  {
    background-color: #388628;
    color: #dedede;
    box-shadow: 0 1px 0 #388628;
  }

  .card-label-yellow
  {
    background-color: #ad9900;
  }

  .pop-over-list li>a:hover,
.card-label-blue
  {
    background-color: #005282;
  }

  .card-label-green
  {
    background-color: #388628;
  }

  .badge.is-due-now,
.card-detail-badge.is-due-now,
.button.negate,
button.negate,
input[type=button].negate,
input[type=submit].negate,
.app-alert-item.mod-error,
.card-label-red
  {
    background-color: #9c1f0e;
  }

  .card-detail-badge.is-due-now:hover
  {
    background-color: #9c1f0e;
    filter: brightness(130%);
  }

  .card-label-orange
  {
    background-color: #c17824;
  }

  .card-label-purple
  {
    background-color: #78149e;
  }

  .card-label-sky
  {
    background-color: #009bb3;
  }

  .card-label-lime
  {
    background-color: #00966d;
  }

  .card-label-pink
  {
    background-color: #bd468f;
  }

  .card-detail-badge.is-due-past,
.badge.is-due-past
  {
    background-color: #6d0d00;
  }

  .card-detail-badge.is-due-past:hover
  {
    background-color: #6d0d00;
    filter: brightness(130%);
  }

  .member-initials
  {
    background-color: #D6DADC;
    border-radius: 25em;
    height: auto;
  }

  .member:hover
  {
    background: none;
  }

  .member-initials:hover
  {
    filter: brightness(50%);
  }

  .list-card.is-drophover .list-card-dropzone
  {
    background: rgba(0, 0, 0, 0.75);
  }

  .window-wrapper .is-drophover .dropzone
  {
    background: rgba(0, 0, 0, 0.58);
    border: green dashed 2px !important;
  }

  .member
  {
    background: none;
  }

  .member-avatar:hover
  {
    filter: brightness(50%);
  }

  .action-comment-fade-button
  {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #151515);
  }

  .compact-board-tile-background,
.compact-board-tile-fade
  {
    opacity: 1;
  }

  .button-link:hover,
.button-link
  {
    box-shadow: none;
  }
/*  Scrollbars  */

  .u-fancy-scrollbar::-webkit-scrollbar-track-piece
  {
    background: none;
  }

  .u-fancy-scrollbar::-webkit-scrollbar-thumb:vertical
  {
    background: #606060;
  }

  #board.u-fancy-scrollbar::-webkit-scrollbar-thumb:horizontal
  {
    background: #606060;
  }
}

